@mixin generateColourScheme($colour, $name) {
    .bg-#{$name} {
        background-color: $colour;
    }

    .text-#{$name} {
        color: $colour!important;
    }

    a:visited,
    a.text-#{$name}:visited {
        color: $colour;
    }

    .loading.#{$name}::after {
        border: .1rem solid $colour;
        border-right-color: transparent;
        border-top-color: transparent;
    }
}

html {
    @include generateColourScheme(#8935c0, 'beteasy-primary');
    @include generateColourScheme(#1eb7ba, 'beteasy-secondary');
    @include generateColourScheme(#ffffff, 'white');
}
