html .bg-beteasy-primary {
  background-color: #8935c0;
}
html .text-beteasy-primary {
  color: #8935c0 !important;
}
html a:visited,
html a.text-beteasy-primary:visited {
  color: #8935c0;
}
html .loading.beteasy-primary::after {
  border: 0.1rem solid #8935c0;
  border-right-color: transparent;
  border-top-color: transparent;
}
html .bg-beteasy-secondary {
  background-color: #1eb7ba;
}
html .text-beteasy-secondary {
  color: #1eb7ba !important;
}
html a:visited,
html a.text-beteasy-secondary:visited {
  color: #1eb7ba;
}
html .loading.beteasy-secondary::after {
  border: 0.1rem solid #1eb7ba;
  border-right-color: transparent;
  border-top-color: transparent;
}
html .bg-white {
  background-color: #fff;
}
html .text-white {
  color: #fff !important;
}
html a:visited,
html a.text-white:visited {
  color: #fff;
}
html .loading.white::after {
  border: 0.1rem solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
}
